@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

h1 {
	font-size: 4rem;
	font-family: "Roboto Mono", monospace;
}

h2 {
	@apply text-2xl sm:text-3xl md:text-4xl;
	font-family: "Roboto Mono", monospace;
}

h3 {
	@apply text-xl sm:text-2xl md:text-3xl;
	font-family: "Roboto Mono", monospace;
}

.transform {
	will-change: transform;
	transform: (0px, -124px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
		rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
}

/* @layer base {
	body {
		@apply bg-[#0F0F0F];
	}
} */

@layer utilities {
	.bg-dark {
		@apply bg-[#0F0F0F];
	}
}
