@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"); */

h1 {
	font-size: 4rem;
	font-family: var(--font-plus-jakarta-sans);
}

h2 {
	@apply text-2xl sm:text-3xl md:text-4xl;
	font-family: var(--font-plus-jakarta-sans);
}

h3 {
	@apply text-xl md:text-3xl;
	font-family: var(--font-plus-jakarta-sans);
}

p {
	font-family: var(--font-plus-jakarta-sans);
}

.transform {
	will-change: transform;
	transform: (0px, -124px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
		rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
}

@layer base {
	body {
		@apply bg-[#fcfcfc];
	}
}

/* @layer utilities {
	.bg-dark {
		@apply bg-[#0F0F0F];
	}
} */
